matplotlib~=3.7.1
numpy~=1.24.3
pyserial~=3.5
pyqtgraph~=0.13.3
pyqt5~=5.15.7
pandas~=2.0.2
qtpy~=2.3.1
qtwidgets~=1.1
pygame~=2.4.0
requests~=2.31.0
git+https://gitlab.com/team-aster/software/ecom@1.1.1
