git+https://gitlab.com/team-aster/software/ecom@1.1.1
folium~=0.14.0
geocoder~=1.38.1
matplotlib~=3.7.2
numpy~=1.25.2
pandas~=2.0.3
plotly~=5.16.1
pyqt5~=5.15.9
pyqtgraph~=0.13.3
pyserial~=3.5
requests~=2.31.0
scipy~=1.11.2
